<ion-content style="background: #f6f6f6;">

  <div>
    <!-- <div class="first">
      <img src="assets/imgs/icon.png" class="image">
      <div>

      </div>
    </div> -->
    <ion-row>
      <!-- <ion-col col-1 style="color: white; height: 235px">
        cds
      </ion-col> -->

      <ion-col col-12 style= "height: 250px; background: #0196c1; border-radius: 0px 0px 0px 90px;">
        <!-- <img src="assets/imgs/icon.jpg" class="image"> -->
        <!-- <div style="text-align: center;
        height: 50px;
        border: 1px solid;
        margin-top: 22%">
          sd
        </div> -->
        <ion-row style="
        margin-top: 23%;
        height: 45px;
        ">
          <ion-col col-1 style="">

          </ion-col>
          <ion-col col-10 style="">
             <img src="assets/imgs/icon.png" style="max-width: 15%; border: 0;">
              &nbsp; &nbsp;<span style="color: white; font-size: x-small;">जीपीएस लगवाए, गाड़ी को चोरी होने से बचाये </span>
             <p style="margin-left: 46px; margin-top: -49px;color: white; font-size: 32px">Oneqlik GPS</p>
            <div style="text-align: center;">
             <span style="color: white;"> Welcome to Oneqlik</span>
            </div>
          </ion-col>
          <ion-col col-1 style="">

          </ion-col>
        </ion-row>
      </ion-col>

      <!-- <ion-col col-1 style="color: white ; height: 235px">
        ds
      </ion-col> -->
    </ion-row>
    <form [formGroup]="loginForm" style="margin-top: 50px;">
      <div class="temp">
        <ion-row style="padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid;
        border-radius: 40px;
        width: 85%;
        margin: auto;
        height: 60px;">
          <ion-col col-2 style=" text-align: center; border-radius: 39px; height: 50px;">
            <ion-icon name="person" style="color: gray; font-size: 20px; margin: 8px;"></ion-icon>
          </ion-col>
          <ion-col col-10>
            <ion-input formControlName="username" type="text" placeholder="{{'Email/Mobile/User Id*' | translate}}"></ion-input>
          </ion-col>
        </ion-row>
      </div>
      <ion-item class="logitem1" *ngIf="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)">
        <p>{{'username required!' | translate}}</p>
      </ion-item>

      <div class="temp">
        <ion-row style="padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid;
        border-radius: 40px;
        width: 85%;
        margin: auto;
        height: 60px;">
          <ion-col col-2 style=" text-align: center; border-radius: 39px; height: 50px;">
            <ion-icon name="lock" style="color: gray; font-size: 20px; margin: 8px;"></ion-icon>
          </ion-col>
          <ion-col col-8>
            <ion-input formControlName="password" *ngIf="!showPassword" type="password" placeholder="{{'Password*' | translate}}" ></ion-input>
            <ion-input formControlName="password" *ngIf="showPassword" type="text" placeholder="{{'Password*' | translate}}" ></ion-input>

          </ion-col>
          <ion-col col-2>
            <button ion-button clear item-end (click)="toggleShowPassword()">
              <ion-icon style="font-size: 1em;" *ngIf="showPassword" name="eye" color="red"></ion-icon>
              <ion-icon style="font-size: 1em;" *ngIf="!showPassword" name="eye-off" color="red"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </div>
      <ion-item class="logitem1" *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)">
        <p>{{'Password required!' | translate}}</p>
      </ion-item>
    </form>
    <span style="margin-left: 207px;" (tap)="forgotPassFunc()">Reset Password</span>
    <div class="btnDiv" (tap)="userlogin()">
      <button ion-button class="btnLog" color="gpsc">
        LOGIN
      </button>
    </div>

    <ion-row style="margin-top: 15px;">
      <ion-col col-2>

      </ion-col>

      <ion-col col-3 (click)="gotodemopage()">
        <ion-icon name="keypad" style="font-size: 2.2em;"></ion-icon>
        <br>
        <span style="margin-left: -26px;">Demo Login</span>
      </ion-col>

      <ion-col col-3>
        <a href="https://api.whatsapp.com/send?phone=918076870378" style="color: black;">
        <ion-icon name="logo-whatsapp" style="font-size: 2.2em;"></ion-icon>
        <br>
        <span style="margin-left: -18px;">Whastapp</span>
      </a>
      </ion-col>

      <ion-col col-3 (click)="dialNumber(918076870378)">
        <ion-icon name="call" style="font-size: 2.2em; margin-left: -5px;"></ion-icon>
        <br>
        <span style="margin-left: -18px;">Support</span>
      </ion-col>

    </ion-row>
    <!-- <ion-footer>
      <ion-toolbar style="text-align: center;">
        <button class="last" (click)="gotosignuppage()">NEW USER? SIGN UP</button>
      </ion-toolbar>
    </ion-footer> -->
  </div>

  </ion-content>
