.input-cover {
  position: static;
}
page-chat {

  // #chat-parent {
  //   scroll-behavior: smooth;
  // }
  // .header {
  //   --background: #224068;
  // }
  // .headerColor {
  //   --color: #fff;
  //   color: #fff;
  // }
  // .line-breaker {
  //   white-space: pre-line;
  // }
  // .input-wrap {
  //   display: flex;
  //   input {
  //     flex: 1;
  //     border: 0;
  //     border-style: solid;
  //     padding: 10px;
  //   }
  // }
  // .contentBg {
  //   --background: #2f517c;
  //   --background: -webkit-linear-gradient(to bottom, #2f517c, #56b4d3); /* Chrome 10-25, Safari 5.1-6 */
  //   --background: linear-gradient(
  //     to bottom,
  //     #2f517c,
  //     #56b4d3
  //   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  //   padding-bottom: 0 !important;
  //   --padding-bootm: 0 !important;
  //   scroll-behavior: smooth;
  // }
  // .message-wrap {
  //   // padding: 0 10px;

  //   .message {
  //     position: relative;
  //     padding: 7px 0;
  //     .user-img {
  //       position: absolute;
  //       object-fit: cover;
  //       border-radius: 45px;
  //       width: 35px;
  //       height: 35px;
  //       box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
  //     }
  //     .msg-detail {
  //       width: 100%;
  //       display: inline-block;
  //       position: relative;
  //       p {
  //         margin: 0;
  //         font-size: 14px;
  //       }
  //       .msg-info {
  //         p {
  //           font-size: 0.8em;
  //           color: #888;
  //         }
  //       }
  //       .msg-content {
  //         position: relative;
  //         border-radius: 5px;
  //         padding: 8px;
  //         width: auto;
  //         max-width: 80%;

  //         .line-breaker {
  //           white-space: pre-line;
  //           padding-left: 7px;
  //         }
  //       }
  //     }
  //   }
  //   .message-left {
  //     .msg-content {
  //       float: left;
  //       position: relative;
  //       background: rgba(37, 61, 99, 0.8);
  //       color: #fff;
  //       :before {
  //         content: "";
  //         position: absolute;
  //         background: transparent;
  //         width: 10px;
  //         height: 8px;
  //         left: -10px;
  //         top: 9px;
  //         box-sizing: border-box;
  //         border-right: 10px solid rgba(37, 61, 99, 0.8);
  //         border-top: 8px solid transparent;
  //         border-bottom: 8px solid transparent;
  //       }
  //     }
  //     .msg-detail {
  //       padding-left: 52px;
  //     }
  //     .user-img {
  //       left: 0;
  //       z-index: 9999;
  //     }
  //   }
  //   .message-right {
  //     .msg-detail {
  //       // padding-right: 60px;
  //       .msg-info {
  //         text-align: right;
  //       }
  //     }
  //     .user-img {
  //       right: 0;
  //     }
  //     .msg-content {
  //       float: right;
  //       color: #2a2828;
  //       background: rgba(240, 240, 240, 0.8);
  //     }
  //   }
  // }

  // .avatarImg {
  //   border-radius: 50%;
  //   width: 34px;
  //   border: 1px solid black;
  //   height: 34px;
  //   object-fit: cover;
  // }

  // .userProdDetail {
  //   border: 5px solid gray !important;
  //   padding: 0px;
  // }

  // .rate {
  //   font-size: 18px;
  //   font-weight: bold;
  //   margin-top: 0px;
  // }

  // .proImg {
  //   height: 65px;
  //   object-fit: cover;
  //   width: 70px;
  //   border-radius: 5%;
  // }

  // .detail {
  //   font-size: 16px;
  //   color: rgb(59, 89, 152) !important;
  //   font-weight: bold;
  // }

  // .msgSpace {
  //   margin-right: 8px !important;
  // }

  // .iconMsg {
  //   background-color: transparent !important;
  //   margin-right: -12px !important;
  // }

  // .containerFooter {
  //   display: flex;
  //   flex-direction: row;
  //   align-items: center;
  // }

  // .sendBtn-icon {
  //   // margin-top: -12px;
  //   font-size: 30px;
  // }
  // .send-button-parent {
  //   padding: 0 6px 0 8px;
  // }

  // .backbtn {
  //   margin-right: 10px !important;
  //   font-size: 3.4rem !important;
  //   color: black !important;
  // }
  // .sendBtn {
  //   opacity: 1 !important;
  //   height: 40px;
  // }
  // .inputConatiner {
  //   width: 80%;
  // }

  // .inputMessage {
  //   border: 1px solid #d8d8e0;
  //   border-radius: 10px;
  // }

  // .footer {
  //   // min-height: 70px;
  //   display: flex;
  //   align-items: center;
  // }

  // .arrow-left {
  //   position: absolute;
  //   left: -11px;
  //   width: 0 !important;
  //   height: 0 !important;
  //   border-top: 10px solid transparent !important;
  //   border-bottom: 10px solid transparent !important;
  //   border-right: 10px solid #253d63 !important;
  // }

  // span.line-style {
  //   position: absolute;
  //   border-left: 3px solid #fff;
  //   margin-left: 16px;
  //   height: 100%;
  //   max-height: 100%;
  //   width: 100%;
  //   position: fixed;
  //   top: 0;
  // }

  // span.triangle {
  //   border-radius: 2px;
  //   height: 14px;
  //   width: 14px;
  //   top: 14px;
  //   display: block;
  //   border-style: solid;
  //   border-color: rgba(37, 61, 99, 0.83);
  //   border-width: 1px;
  //   -webkit-transform: rotate(45deg);
  //   transform: rotate(45deg);
  //   position: absolute;
  //   background: rgba(37, 61, 99, 0.83);
  //   left: 53px;
  // }

  // .footerSections {
  //   --background: #bdccd3;
  //   background: #bdccd3;
  // }
  // .inputBg {
  //   background: #fff;
  // }

  // @keyframes dash {
  //   from {
  //     stroke-dashoffset: 1000;
  //   }
  //   to {
  //     stroke-dashoffset: 0;
  //   }
  // }

  ion-content .scroll-content {
    background-color: #f5f5f5;
  }

  ion-footer {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
    background-color: #fff;
    height: 255px;
  }

  .line-breaker {
    white-space: pre-line;
  }

  .input-wrap {
    padding: 5px;
    display: flex;
  }
  .input-wrap textarea,
  input {
    flex: 1;
    border: 0;
    border-bottom: 1px #387ef5;
    border-style: solid;
  }

  .message-wrap {
    padding: 0 10px;
  }
  .message-wrap .message {
    position: relative;
    padding: 7px 0;
  }
  .message-wrap .message .user-img {
    position: absolute;
    border-radius: 45px;
    width: 45px;
    height: 45px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
  }
  .message-wrap .message .msg-detail {
    width: 100%;
    display: inline-block;
  }
  .message-wrap .message .msg-detail p {
    margin: 0;
  }
  .message-wrap .message .msg-detail .msg-info p {
    font-size: 0.8em;
    color: #888;
  }
  .message-wrap .message .msg-detail .msg-content {
    position: relative;
    margin-top: 5px;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid #ddd;
    color: #fff;
    width: auto;
    max-width: 80%;
  }
  .message-wrap .message .msg-detail .msg-content span.triangle {
    // background-color: #fff;
    background-color: #ed4c61;
    border-radius: 2px;
    height: 8px;
    width: 8px;
    top: 12px;
    display: block;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
  }
  .message-wrap .message.left .msg-content {
    // background-color: #fff;
    background-color: #ed4c61;
    float: left;
  }
  .message-wrap .message.left .msg-detail {
    padding-left: 16px;
  }
  .message-wrap .message.left .user-img {
    left: 0;
  }
  .message-wrap .message.left .msg-detail .msg-content {
    // color: #343434;
    color: #fff;
  }
  .message-wrap .message.left .msg-detail .msg-content span.triangle {
    border-top-width: 0;
    border-right-width: 0;
    left: -5px;
  }
  .message-wrap .message.right .msg-detail {
    padding-right: 16px;
  }
  .message-wrap .message.right .msg-detail .msg-info {
    text-align: right;
  }
  .message-wrap .message.right .user-img {
    right: 0;
  }
  .message-wrap .message.right ion-spinner {
    position: absolute;
    right: 16px;
    top: 60px;
  }
  .message-wrap ion-spinner {
    // position: absolute;
    right: 16px;
    top: 60px;
  }
  .message-wrap .message.right .msg-detail .msg-content {
    // background-color: #387ef5;
    background-color: #f77e8e;
    float: right;
  }
  .message-wrap .message.right .msg-detail .msg-content span.triangle {
    // background-color: #387ef5;
    background-color: #f77e8e;

    border-bottom-width: 0;
    border-left-width: 0;
    right: -5px;
  }
}
