page-stoppages-repo {
  .col {
    padding: 0px;
  }

  .item-md ion-thumbnail img {
    width: 70px;
    height: 70px;
  }
  .item-md ion-thumbnail[item-start] {
    margin: 0px 0px 0px 0;
  }
  ion-icon {
    display: inline-block;
    font-size: 0.9em;
  }

  .label-md,
  .label-ios {
    font-size: 12px;
  }
  .masters {
    background-color: #f2f2f2;
    //top: 6%;
  }
  .masters1 {
    background-color: #f2f2f2;
    top: 0%;
  }
  .toolbar-background-md {
    border-color: #b2b2b2;
    background: #f8f8f8;
    background: #0196c1;
}


//   .colSt2 {
//     height: 7.4rem;
//     width: 80%;
//     padding: 0px;
//   }
}
