<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'Stoppages Report' | translate}}</ion-title>
    <ion-buttons end *ngIf="Stoppagesdata.length > 0">
        <button ion-button icon-only style="color: #fff;" small (click)="OnExport()">
          <img style="width: 20px;" type="image/svg+xml" src="assets/icon/microsoft-office-mac-tilt-excel-icon-17.svg" *ngIf="pltStr === 'ios'">
          <ion-icon name="custom-excel" *ngIf="pltStr !== 'ios'"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

  <!-- <ion-item style="background-color: #fafafa;" *ngIf="portstemp.length != 0">
    <ion-label style="margin-top: 15px;">{{'Select Vehicle' | translate}}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="getStoppagesdevice(selectedVehicle)">
    </select-searchable>
  </ion-item>
  <ion-row style="background-color: #fafafa;">
    <ion-col style="text-align: center;">
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('today')">{{"Today" | translate}}</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('yest')">{{"Yesterday" | translate}}</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('week')">{{"Week" | translate}}</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('month')">{{"Month" | translate}}</button>
    </ion-col>
  </ion-row>
  <ion-row padding-left padding-right style="background-color: #fafafa;">
    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{'From Date' | translate}}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [min]="twoMonthsLater" [max]="today" [(ngModel)]="datetimeStart"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;"></ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20 padding-left>
      <ion-label>
        <span style="font-size: 13px">{{'To Date' | translate}}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;"></ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <div style="margin-top: 9px; float: right">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getStoppageReport();"></ion-icon>
      </div>
    </ion-col>
  </ion-row> -->

  <ion-row style="padding: 5px;">
    <ion-col col-5.5 style="border: 1px solid skyblue; height: 34px;">
    <ion-row>
      <ion-col col-9>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [min]="twoMonthsLater" [max]="today" [(ngModel)]="datetimeStart"
        style="padding: 7px 2px 0px 0px;font-size:11px;color: black;font-size: 12px">
        </ion-datetime>
      </ion-col>
      <ion-col col-3 style="text-align: -webkit-right;">
        <ion-icon slot="end" ios="ios-calendar" md="md-calendar" style="font-size: 2.2em; margin-right: 5px;"></ion-icon>
      </ion-col>
    </ion-row>
    </ion-col>

    <ion-col col-6.5 style="border: 1px solid skyblue;">
      <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="getStoppagesdevice(selectedVehicle)" style="height: 10px;
        margin: 0px 0px 0px 36px;
        text-align: center;
        margin-top: -7px;
        position: fixed;
    ">
      </select-searchable>
    </ion-col>
  </ion-row>

  <ion-row style="padding: 5px;">
    <ion-col col-5.5 style="border: 1px solid skyblue; height: 34px;">
    <ion-row>
      <ion-col col-9>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: black; font-size: 12px;">
        </ion-datetime>
      </ion-col>
      <ion-col col-3 style="text-align: -webkit-right;">
        <ion-icon slot="end" ios="ios-calendar" md="md-calendar" style="font-size: 2.2em; margin-right: 5px;"></ion-icon>
      </ion-col>
    </ion-row>
    </ion-col>

    <ion-col col-6.5 style="border: 1px solid skyblue; background: #0196c1; color: white; text-align: center;" (click)="getStoppageReport()">
    <span style="position: relative;top: 8px;">FIND</span>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content [ngClass]="{ 'masters': portstemp.length != 0,'masters1': portstemp.length == 0 }">

  <ion-card *ngFor="let stopdata of Stoppagesdata;let i = index">

    <ion-item style="border-bottom: 2px solid #dedede;">
      <ion-avatar item-start>
        <img src="assets/imgs/car_red_icon.png">
      </ion-avatar>
      <ion-label>{{stopdata.device}}</ion-label>
      <ion-badge item-end color="gpsc">{{stopdata.Durations}}</ion-badge>
    </ion-item>
    <ion-card-content>
      <ion-row style="padding-top:5px">
        <ion-col col-6 style="color:gray;font-size:11px;font-weight: 400;">

          <ion-icon ios="ios-time" md="md-time" style="color:#5edb82; font-size: 15px;"></ion-icon> &nbsp;
          {{stopdata.arrival_time | date: 'short'}}

        </ion-col>
        <ion-col col-6 style="color:gray;font-size:11px;font-weight: 400;">

          <ion-icon ios="ios-time" md="md-time" style="color:#ee7272; font-size: 15px;"></ion-icon>&nbsp;
          {{stopdata.departure_time | date: 'short'}}

        </ion-col>
      </ion-row>
      <!-- <ion-row style="padding-top:5px">
        <ion-col col-1 style="font-size: 15px;">
          <ion-icon ios="ios-pin" md="md-pin" style="color:#e14444;"></ion-icon>
        </ion-col>
        <ion-col col-11 (onCreate)="end_address(stopdata, i)" style="font-size: 0.8em;">
          <div class="overme">
            {{ stopdata.EndLocation }}
          </div>
        </ion-col>
      </ion-row> -->
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer style="background: #0196c1;">
  <ion-toolbar style="background: #0196c1;">
    <ion-row no-padding style="background: #0196c1;">
      <ion-col width-100 style="text-align: center; padding: 0px !important">
        <p style="color:#ffffff; margin:0px; padding:0px">
          {{ totalDuration }}
        </p>
        <p style="color:#ffffff; margin:0px; padding:0px">
          {{ "Total" | translate }}
        </p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
