<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "AC Report" | translate }}</ion-title>
  </ion-navbar>
  <!-- <ion-item style="background-color: #fafafa;">
    <ion-label>{{ "Select Vehicle" | translate }}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="getAcReporID(selectedVehicle)">
    </select-searchable>
  </ion-item>

  <ion-row padding-left padding-right style="background-color: #fafafa;">
    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{ "From Date" | translate }}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [min]="twoMonthsLater" [max]="today" [(ngModel)]="datetimeStart"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;">
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{ "To Date" | translate }}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;">
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <div style="margin-top: 9px; float: right">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getAcReportData();">
        </ion-icon>
      </div>
    </ion-col>
  </ion-row> -->

  <ion-row style="padding: 5px;">
    <ion-col col-5.5 style="border: 1px solid skyblue; height: 34px;">
    <ion-row>
      <ion-col col-9>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [min]="twoMonthsLater" [max]="today" [(ngModel)]="datetimeStart"
        style="padding: 7px 2px 0px 0px;font-size:11px;color: black;font-size: 12px">
        </ion-datetime>
      </ion-col>
      <ion-col col-3 style="text-align: -webkit-right;">
        <ion-icon slot="end" ios="ios-calendar" md="md-calendar" style="font-size: 2.2em; margin-right: 5px;"></ion-icon>
      </ion-col>
    </ion-row>
    </ion-col>

    <ion-col col-6.5 style="border: 1px solid skyblue;">
      <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="getAcReporID(selectedVehicle)" style="height: 10px;
        margin: 0px 0px 0px 36px;
        text-align: center;
        margin-top: -7px;
        position: fixed;
    ">
      </select-searchable>
    </ion-col>
  </ion-row>

  <ion-row style="padding: 5px;">
    <ion-col col-5.5 style="border: 1px solid skyblue; height: 34px;">
    <ion-row>
      <ion-col col-9>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: black; font-size: 12px;">
        </ion-datetime>
      </ion-col>
      <ion-col col-3 style="text-align: -webkit-right;">
        <ion-icon slot="end" ios="ios-calendar" md="md-calendar" style="font-size: 2.2em; margin-right: 5px;"></ion-icon>
      </ion-col>
    </ion-row>
    </ion-col>

    <ion-col col-6.5 style="border: 1px solid skyblue; background: #0196c1; color: white; text-align: center;" (click)="getAcReportData()">
    <span style="position: relative;top: 8px;">FIND</span>
    </ion-col>
  </ion-row>

</ion-header>

<ion-content>
  <ion-list *ngIf="reportData.length === 0">
    <ion-item>
      <p>Oops.. No record found..!</p>
    </ion-item>
  </ion-list>
  <div *ngIf="reportData.length > 0">
    <ion-card *ngFor="let rep of reportData;" (click)="showDetail(rep)">
      <ion-item style="border-bottom: 2px solid #dedede;">
        <ion-avatar item-start>
          <img src="assets/imgs/car_red_icon.png">
        </ion-avatar>
        <ion-label>{{rep.VehicleName}}</ion-label>
      </ion-item>

      <ion-card-content>
        <ion-row style="padding-top:5px;">
          <ion-col col-6>{{rep['1stAction']}}</ion-col>
          <ion-col col-6>{{rep['1stTime']}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6 style="color:gray;font-size:11px;font-weight: 400;text-align:justify;">Action</ion-col>
          <ion-col col-6 style="color:gray;font-size:11px;font-weight: 400;text-align:justify;">ON Time</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>{{rep['2stAction']}}</ion-col>
          <ion-col col-6>{{rep['2stTime']}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6 style="color:gray;font-size:11px;font-weight: 400;text-align:justify;">Action</ion-col>
          <ion-col col-6 style="color:gray;font-size:11px;font-weight: 400;text-align:justify;">OFF Time</ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
