<ion-header>
  <ion-navbar>
    <ion-title>{{ type | titlecase }} {{ "Expenses" | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="expensesData.length > 0">
        <ion-card *ngFor="let exp of expensesData">
          <ion-card-header>
            <ion-row>
              <ion-col col-8>
                <h5>{{ exp.vehicle.Device_Name }}</h5>
              </ion-col>
              <ion-col col-4 text-right>
                <ion-icon
                  name="trash"
                  color="danger"
                  (click)="delete(exp)"
                ></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <ion-row style="color:#009688;font-size: 11px;font-weight: 350;">
              <ion-col col-3>{{ "Amount" | translate }}</ion-col>
              <ion-col col-3>{{ "Currency" | translate }}</ion-col>
              <ion-col col-3>{{ "Payment Mode" | translate }}</ion-col>
              <ion-col col-3>{{ "Expense Type" | translate }}</ion-col>
            </ion-row>
            <ion-row style="color:gray; font-size:13px; font-weight: 400;">
              <ion-col col-3>{{ exp.amount ? exp.amount : "N/A" }}</ion-col>
              <ion-col col-3>{{ exp.currency }}</ion-col>
              <ion-col col-3>{{ exp.payment_mode }}</ion-col>
              <ion-col col-3>{{ exp.type }}</ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="expensesData.length === 0">
        {{ "Expense list not found.." | translate }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
